# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = prn.dmitry.alexeev
	email = prn.dmitry.alexeev@gcore.lu
[merge]
	tool = smerge
[rerere]
	enabled = true
[push]
	default = current
